* {
  padding: 0;
  margin: 0;
}
:root {
  --main-font-color: #212121;
  --second-font-color: #757575;
  --background-color-light: #e5e5e5;
  --background-color-medium: #f5f4fa;
  --background-color-dark: #2f303a;
  --color-primary: #2196f3;
  --color-secondary: #ffffff;
  --color-secondary-grey: #f5f4fa;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
li {
  list-style: none;
}
.link-header :focus {
  color: var(--color-primary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.header-view {
  border-bottom: 1px solid #ececec;
}
.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
}
.menu-nav {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 50px;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.underscore {
  position: relative;
  top: 28px;
}
.underscore::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 53px;
  height: 4px;
  background-color: var(--color-primary);
  border-radius: 2px;
}
.underscore-portfolio {
  position: relative;
  top: 28px;
}
.underscore-portfolio::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 58px;
  height: 4px;
  background-color: var(--color-primary);
  border-radius: 2px;
}
.menu-link {
  color: var(--main-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.menu-link:hover {
  color: var(--color-primary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.menu-contact-list {
  display: flex;
  align-items: center;
  gap: 50px;
  text-decoration: none;
}
.menu-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-font-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.menu-contact-link:hover .contact-label {
  color: var(--color-primary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.menu-contact-link:hover svg {
  fill: var(--color-primary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-font-color);
}
.logo span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}
.buttons:hover {
  color: var(--color-secondary);
  cursor: pointer;
  background-color: var(--color-primary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.button-index {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-secondary);
  background: var(--color-primary);
  max-width: 200px;
  text-align: center;
  padding: 10px 42px 10px 42px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: none;
  border-style: solid;
  border-width: 0;
  margin-top: 30px;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  width: 696px;
  text-align: center;
  color: var(--color-secondary);
  margin: 0 auto;
}
.background-title {
  background-color: var(--background-color-dark);
  text-align: center;
}
.hero-image {
  background-image: url(../images/office-background.jpg);
  background-position: center;
  max-width: 1600px;
  background-size: cover;
  padding: 200px 0;
  margin: 0 auto;
}
.symbol-strenghts-list {
  list-style: none;
  margin-bottom: 30px;
  max-width: 1170px;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.symbol-strenghts-item {
  width: 270px;
  height: 120px;
  border: 1px solid #f5f4fa;
  border-radius: 4px;
  padding-left: 100px;
  padding-top: 25px;
  margin-bottom: 30px;
  background: var(--background-color-medium);
}
.strenghts-box {
  padding-top: 94px;
  padding-bottom: 94px;
}
.strenghts {
  display: flex;
  gap: 30px;
  margin: 0;
  height: 101px;
  width: 1170px;
}
.strenghts-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin: 0 0 10px 0;
  color: var(--main-font-color);
}
.strenghts-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  color: var(--second-font-color);
}
.section-service-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0 0 50px 0;
  color: var(--main-font-color);
}
.images-service {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.images-service-overlay {
  position: absolute;
  margin-top: 224px;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--color-secondary);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}
.section-team-images {
  background-color: var(--background-color-medium);
  padding-top: 94px;
  padding-bottom: 94px;
}
.images-team {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.section-title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
  color: var(--main-font-color);
}
.team-image-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  padding-top: 30px;
}
.team-image-title2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-font-color);
  padding-bottom: 30px;
}
.list-team-card {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 94px;
  margin-left: 0px;
}
.team-card {
  margin: 0;
  background-color: var(--color-secondary);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card-sm-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  justify-content: space-evenly;
}
.team-card-sm-item {
  width: 44px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 11px 11px 11px 11px;
}
.team-card-sm-item:hover .team-card-sm-item:focus .team-card-sm {
  fill: var(--color-secondary);
  text-align: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card-sm-item:hover svg {
  fill: #ffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.team-card-sm {
  fill: #afb1b8;
}
.team-card-sm-item:hover,
.team-card-sm-item:focus {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  fill: var(--color-secondary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.section-customers-title {
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 50;
}
.logo-customer-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
  display: flex;
  gap: 36px;
}
.logo-customer-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 32px;
  padding-top: 17.71px;
  justify-content: center;
}
.logo-customer {
  fill: #afb1b8;
}
.logo-customer-item:hover .logo-customer,
.logo-customer-item:focus .logo-customer {
  fill: var(--color-primary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.logo-customer-item:hover,
.logo-customer-item:focus {
  border: 1px solid var(--color-primary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.background-footer {
  background: var(--background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 162px;
}
.footer-container {
  display: flex;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 60px;
  padding-left: 15px;
  text-decoration: none;
}
.studio-footer {
  color: var(--color-secondary);
}
.web {
  color: var(--color-primary);
}
.address-contact-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 20px;
  padding-left: 15px;
}
.address-footer {
  color: var(--color-secondary);
}
.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contact-footer:hover,
.contact-footer:focus {
  color: var(--color-primary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.footer-portfolio-mail {
  margin: 9px 0;
}
.footer-portfolio-tel {
  margin: 0;
}

/* ======footer-join-us===== */

.footer-sm-block {
  margin-left: 70px;
}
.join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-secondary);
  padding-bottom: 20px;
}
.footer-sm-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}
.footer-sm-item {
  width: 44px;
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  padding-left: 11px;
  padding-top: 11px;
}
.footer-sm-item:hover,
.footer-sm-item:focus {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  fill: var(--color-secondary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.sm-footer {
  fill: #ffffff;
}

/* ======newsletter===== */

.footer-newsletter {
  margin-left: 78px;
}
.box-send-newsletter {
  display: inline-flex;
}
.text-newsletter-footer {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}
.email-window-footer > input {
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--background-color-dark);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.button-send-newsletter {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: relative;
  margin-left: 12px;
}
.button-send-newsletter > button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  padding-left: 42px;
}
.send-icon-button {
  display: flex;
  position: absolute;
  margin-top: 13px;
  margin-left: 24px;
  margin-right: 28px;
  fill: #ffffff;
}

/* ======portfolio===== */

.portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0 0 50px 0;
}
.button-portfolio {
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0 solid var(--color-secondary-grey);
  background-color: var(--color-secondary-grey);
  padding: 4px 16px 4px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-portfolio:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 30px;
  cursor: pointer;
}
.figure-portfolio:hover,
.figure-portfolio:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}
.figure-portfolio {
  margin: 0;
  border: 1px solid #eeeeee;
  position: relative;
  overflow: hidden;
}
.image-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px;
  position: relative;
  z-index: 10;
  background: #ffffff;
}
.image-title2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-font-color);
  margin: 0 0 20px 0;
}
.cover-box-text {
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  width: 100%;
  height: 294px;
  display: flex;
  padding-left: 24px;
  padding-top: 49px;
  padding-right: 45px;
  padding-bottom: 49px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 0;
  right: 0;
}
.figure-portfolio:hover .cover-box-text {
  transform: translateY(-100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ======backdrop-modal.js===== */

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.backdrop {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  cursor: not-allowed;
  transform: scale(1);
}
.modal-close {
  border: none;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  position: relative;
  top: 8px;
  left: 91%;
  cursor: pointer;
  position: absolute;
}
.modal {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  cursor: auto;
  margin: auto;
  bottom: 221px;
  left: 536px;
  top: 221px;
}

/*=== Modal Form ===*/

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  margin-bottom: 12px;
  margin-top: 40px;
}
.label {
  display: block;
  margin-bottom: 10px;
}
.user {
  position: relative;
}
.form-title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-font-color);
  margin-bottom: 4px;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  border: none;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .form-icon,
.modal-input:hover + .form-icon {
  fill: var(--color-primary);
}
.modal-input:focus,
.modal-input:hover {
  border: 1px solid var(--color-primary);
}
.name {
  display: block;
  margin-bottom: 10px;
}
.phone {
  display: block;
  margin-bottom: 10px;
}
.email {
  display: block;
  margin-bottom: 10px;
}
.feedback {
  display: block;
  margin-bottom: 20px;
}
.feedback-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 448px;
  height: 120px;
  background: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0 auto;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea {
  padding: 12px 16px;
  font-family: inherit;
  font-size: inherit;
}
.feedback-text::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback-text:focus-within,
.feedback-text:hover {
  border: 1px solid var(--color-primary);
}
.option {
  display: block;
  position: relative;
}
/* Check */

.check {
  padding-left: 30px;
  margin-bottom: 30px;
}

.check__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.check__box {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 16px;
  height: 15px;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #4a90e2;
}

/* Checked */

.check__input:checked + .check__box {
  background-color: #4a90e2;
  background-image: url(../images/icon-checked.svg);
}

/* Focused */

.check__input:focus + .check__box {
  box-shadow: 0 0 0 0.1em #4a90e2;
}

/* Disabled */

.check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #9b9b9b;
}

.check__input:checked:disabled + .check__box {
  background-color: #9b9b9b;
}
.blue-text {
  color: var(--color-primary);
  text-decoration: underline;
}
.modal-button {
  width: 200px;
  height: 50px;
  background: var(--color-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
